html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Coolvetica", sans-serif;
  overflow: hidden;
}

h1,
p {
  margin: 0;
}

#nav-container {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(45deg, #1d1d1d, #0f0f0f);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.85);
  position: sticky;
  top: 0;
  z-index: 10;
}

#nav-container .logo-section {
  padding: 0px 0 0px 40px;
}

#nav-container .link-section ul {
  padding: 0 40px 0 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
}

#nav-container .link-section ul li a {
  display: inline-block;
  padding: 0px 10px 0 10px;
  text-decoration: none;
  color: #f9f9f9;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  transition: all 300ms ease-in-out;
  box-shadow: #f9f9f9;
}

#nav-container .link-section ul li a:hover {
  background-color: #2f2f2f;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.85);
}

main {
  width: 100%;
  height: 100vh;
  background: url("../images/story1.png");
  background-repeat: no-repeat;
  background-size: 100vmax 100%;
}

main .bg1 {
  width: 100%;
  height: 100vh;
  background: #0f0f0f66;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main .text-container1 {
  margin: 10px 10px 0px 10px;
  width: 780px;
  height: 40%;
  padding: 100px 120px 0px 120px;
  text-align: justify;
}

.text-container1 h1 {
  color: #f9f9f9;
  padding: 0 0 10px 0;
  font-size: 40px;
  letter-spacing: 2px;
}

.text-container1 p {
  color: #f9f9f9;
  font-size: 24px;
}

main .image-container1 {
  width: 55%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

main .image-container1 p {
  width: 100%;
  color: #f9f9f9;
  font-size: 30px;
  text-align: center;
}

.smp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
